body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:pink;
}

header {
    background-color: plum;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
}

#about img {
    width: 150px;
    border-radius: 50%;
    display: block;
    margin-bottom: 10px;
}

ul {
    list-style-type: square;
}

.project {
    margin-bottom: 10px;
}

a {
    color: blue;
    text-decoration: none;
    font-weight: bold;
}

footer {
    text-align: center;
    background-color: pink;
    color: white;
    padding: 10px;
}
